<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles%}
    <link rel="stylesheet" href="/static/css/style.css" media="all">
    <link rel="stylesheet" href="/static/css/vendors/fontawesome/all.css" type="text/css" media="all" />
    {%endblock%}
    <title>CGI</title>
  </head>
  <body>

    <!--   Example taken from here 
      https://franciscoamk.com/como-crear-una-fija-estatica-con-html-y-css/ -->
      <header id="main-header">
        <nav>
          <ul>
            <li><a href="/cgi-bin/index.py">Inicio</a></li>
          </ul>
        </nav>
        <div id="login-status">
          {% if is_logged_in and alumno is not none %}
            <span><i class="fas fa-user"></i> {{alumno.nombre}}</span>
            <a href="/cgi-bin/signup.py"><i class="fas fa-edit"></i> Modificar</a>
            <a href="/cgi-bin/logout.py"><i class="fas fa-sign-out-alt"></i> Salir</a>
          {% else %}
            <a href="/cgi-bin/signup.py"><i class="fas fa-user-plus"></i> Registrarse</a>
            <a href="/cgi-bin/login.py"><i class="fas fa-sign-in-alt"></i> Ingresar</a>
          {% endif %}
        </div>
      </header>

      <section class="content-container" id="main-content">
        <div class="content">
          {% block content %}
          {%endblock%}
        </div>
      </section>

      <footer id="main-footer">
        <p>Sistemas Distribuidos - 2018</p>
      </footer>

      {% block scripts%}
      {%endblock%}
  </body>
</html>
