{% extends "base.html" %}

{% block styles %}
{{super()}} 
<!--DataTables' styles-->
<link rel="stylesheet" type="text/css" href="/static/js/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" media="all">
<link rel="stylesheet" href="/static/css/index.css" media="all">
{%endblock%}

{% block content %}
{% if alumno is not none %}
<h1>Alumnos registrados</h1>
  {% if alumnos %}
  <form class="form-inline" action="/cgi-bin/index.py">
    <label for="nombre">Nombre:</label>
    <input 
    type="text" 
    id="nombre" 
    placeholder="Nombre y apellido" 
    name="filtro-nombre">
    <label for="legajo">Legajo:</label>
    <input 
    type="text" 
    id="legajo" 
    placeholder="MIX-MAX" 
    name="filtro-legajo">
    <label for="sexo">Sexo:</label>
    <select id="sexo" name="filtro-sexo">
      <option value=""></option>
      <option value="h">Hombre</option>
      <option value="m">Mujer</option>
    </select>
    <label for="edad">Edad:</label>
    <input 
    type="text" 
    id="edad" 
    placeholder="MIN-MAX" 
    name="filtro-edad">
    <button type="submit">Filtrar</button>
  </form> 
  <div id="count-alumnos">
    Cantidad de alumnos mostrados: <b>{{alumnos | length}}</b>
  </div>
  <table id="tabla-alumnos" class="display" style="">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Legajo</th>
        <th>Sexo</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      {% for alum in alumnos %}
      <tr>
        <td>{{alum.nombre}}</td>
        <td>{{alum.legajo}}</td>
        <td>{{alum.sexo | display_sex}}</td>
        <td>{{alum.edad}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div id="empty-alumnos">
    <h1>No hay alumnos para mostrar</h1>
  </div>
  {% endif %}
{% else %}
<h1>No iniciaste sesión</h1>
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="/static/js/dist/index.js"></script>
{% endblock scripts %}
