{% extends "base.html" %}

{% block styles %}
{{super()}} 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{%endblock%}

{% block content %}
{% if alumno is not none %}
<h1>Hola {{alumno.nombre}}!</h1>
  {% if alumnos %}
  <table id="tabla-alumnos" class="display" style="">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Legajo</th>
        <th>Sexo</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      {% for alum in alumnos %}
      <tr>
        <td>{{alum.nombre}}</td>
        <td>{{alum.legajo}}</td>
        <td>{{alum.sexo}}</td>
        <td>{{alum.edad}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% else %}
<h1>No iniciaste sesión</h1>
{% endif %}
{% endblock content %}

{% block scripts %}
<script src="/static/js/dist/index.js"></script>
<!--<script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>-->
<!--<script charset="utf-8">-->
<!--$(document).ready( function () {-->
    <!--console.log("LA CTM ALL BOYTS");-->
    <!--$('#tabla-alumnos').DataTable({ responsive: true });-->
<!--} );-->
<!--</script>-->
{% endblock scripts %}
