{% extends "base.html" %}

<!--Este template requiere:
  - errors (dict)
  - is_logged_in
  - user (dict)
    - legajo
  - max_legajo
-->

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/forms.css" type="text/css" media="all" />
{%endblock%}

{% block content %}
<div id="form-container">
  {% if errors %}
    <ul id="errors">
      {% for key, value in errors.items() %}
      <li><b class="error-key">{{key}}:</b> <span class="error-value">{{value}}</span></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if is_logged_in %}
    <div id="form-success">
      <h1>Pudo ingresar correctamente <i class="fas fa-check"></i></h1>
      <a href="/cgi-bin/index.py">Volver al inicio</a>
    </div>
  {% else %}
  <form action="/cgi-bin/login.py" method="POST" accept-charset="utf-8" id="login-form">
    <label for="legajo">Número de legajo</label>
    <input 
      required
      type="number" 
      {% if user and user["legajo"] %}
      value="{{user["legajo"]}}"
      {% endif %}
      min="1"
      max="99999999"
      placeholder="Ingrese su número de legajo, por favor" 
      name="legajo" 
      id="legajo"/>
    <span class="field-description">{{max_legajo}} dígitos como máximo</span>
    <hr>
    <label for="password">Contraseña</label>
    <input 
      required
      type="password" 
      placeholder="Ingrese una contraseña, por favor" 
      name="password" 
      id="password"/>
    <button id="" type="submit">Aceptar</button>
  </form>
  {% endif %}
</div>

{%endblock%}


{% block scripts %}
1 {{super()}} 
  <script src="/static/js/dist/login.js" charset="utf-8"></script>
{%endblock%}
