{% extends "base.html" %}

<!--Este template requiere:
  - errors (dict)
  - user_created
  - user (dict)
    - nombre
    - legajo
    - edad
  - max_nombre
  - max_legajo
  - max_edad
-->

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/forms.css" type="text/css" media="all" />
{%endblock%}

{% block content %}
<div id="form-container">
  {% if errors %}
    <ul id="errors">
      {% for key, value in errors.items() %}
      <li><b class="error-key">{{key}}:</b> <span class="error-value">{{value}}</span></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if alumno_created %}
    <div id="form-success">
      <h1>Alumno creado con éxito <i class="fas fa-check"></i></h1>
      <a href="/cgi-bin/index.py">Volver al inicio</a>
    </div>
  {% elif alumno_updated %}
    <div id="form-success">
      <h1>Alumno modificado con éxito <i class="fas fa-check"></i></h1>
      <a href="/cgi-bin/index.py">Volver al inicio</a>
    </div>
  {% else %}
  <form action="/cgi-bin/signup.py" method="POST" accept-charset="utf-8" id="signup-form">
    <label for="nombre">Nombre y apellido</label>
    <input 
      required
      type="text" 
      value="{{alumno["nombre"]|default("")}}"
      maxlength="{{max_nombre|default(-1)}}" 
      placeholder="Ingrese su nombre y su apellido, por favor" 
      name="nombre" 
      id="nombre"/>
    <span class="field-description">{{max_nombre|default(-1)}} caracteres como máximo</span>
    <hr>
    <label for="legajo">Número de legajo</label>
    <input 
      required
      type="number" 
      value="{{alumno["legajo"]|default("")}}"
      min="1"
      max="99999999"
      placeholder="Ingrese su número de legajo, por favor" 
      name="legajo" 
      {% if is_update is defined and is_update %}
      disabled 
      {% endif %}
      id="legajo"/>
    <span class="field-description">{{max_legajo|default(-1)}} dígitos como máximo</span>
    <hr>
    <label for="sexo">Sexo</label>
    <select id="sexo" name="sexo" required id="sexo">
      {% if alumno is defined %}
      <option 
      value="h"
      {% if alumno["sexo"] == "h" %}
      selected 
      {% endif %}>
      Hombre</option>
      <option 
      value="m"
      {% if alumno["sexo"] == "m" %}
      selected 
      {% endif %}>
      Mujer</option>
      {% else %}
      <option value="h">Hombre</option>
      <option value="m">Mujer</option>
      {% endif %}
    </select>
    <hr>
    <label for="edad">Edad</label>
    <input 
      required
      type="number" 
      value="{{alumno["edad"]|default("")}}"
      min="1"
      max="99"
      placeholder="Ingrese su edad, por favor" 
      name="edad" 
      id="edad"/>
    <span class="field-description">{{max_edad|default(-1)}} caracteres como máximo</span>
    <hr>
    <label for="password">Contraseña</label>
    <input 
      required
      type="password" 
      placeholder="Ingrese una contraseña, por favor" 
      name="password" 
      id="password"/>
    <button id="" type="submit">Aceptar</button>
  </form>
  {% endif %}
</div>

{%endblock%}


{% block scripts %}
  {{super()}} 
  <script src="/static/js/dist/signup.js" charset="utf-8"></script>
{%endblock%}
